{% load staticfiles %}
{% load carton_tags %}
{% get_cart as cart %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Férias de Alto Impacto</title>
    </head>
    <body>
        <div>
            <a href="{% url 'core:cart' %}">Carrinho</a>: R${{ cart.total }} ({{ cart.unique_count }} item)
        </div>
        <div>
            {% block content %}{% endblock %}
        </div>
        <script src="{% static 'script.js' %}"></script>
    </body>
</html>