{% extends 'core/base.html' %}
{% load staticfiles %}
{% load carton_tags %}
{% get_cart as cart %}
{% block content %}
<ul>
    {% for item in cart.items %}
    <li>
        <div>
            <p>{{ item.product.name }}</p>
            <p>Quantidade: {{ item.quantity }}</p>
            <p>Total: R${{ item.subtotal }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
<form id="cart-form" method="POST">
    {% csrf_token %}
    <button type="submit" id="credit-card-btn" name="credit-card">Pagar com cartão de crédito</button>
    <button type="submit" id="bank-slip-btn" name="bank-slip">Pagar com boleto</button>
</form>
{% endblock %}
{% block script %}
<script src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
<script src="{% static 'script.js' %}"></script>
{% endblock %}